html {
  background-color: #202124;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 50px;
}

.game-button {
  color: #ffffff;
  background-color: #8ab4f8;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 30px;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: block;
  width: 200px;
  text-align: center;
}

.game-button:hover {
  color: #ffffff;
  background-color: #c58af9;
  text-decoration: none;
}

.more-games {
  font-size: 18px;
  text-align: center;
  color: #8ab4f8;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.footer a {
  color: #8ab4f8;
  text-decoration: none;
  font-weight: 500;
  padding: 10px;
}

.footer a:hover {
  color: #c58af9;
  text-decoration: underline;
}
